$darken: rgb(46, 58, 68);
$dark-grey: rgb(84, 85, 90);
$dark-purple: #603cba;
$dark-red: #c00;
$dark-blue: #2b5797;
$white: #fff;
$black: #000;
$link-colour: #0F3057;

$menu-colours: (
	menu-colour-1: #1ABC9C,
	menu-colour-2: #A86E3A,
	menu-colour-3: #3498DB,
	menu-colour-4: #9B59B6,
	menu-colour-5: #799412,
	menu-colour-6: #FF3209,
	menu-colour-7: #E67E22,
	menu-colour-8: #63393E,
	menu-colour-9: #1DABB8,
	menu-colour-10: #DC626F,
	menu-colour-11: #62C462,
	menu-colour-12: #E01931
);
