$item-width: 25vw;
$item-height: 20vh;
$total-stories: 10;
$total-pages: 12;


// Fonts
$icomoon-font-path: "asset/font" !default;

$tsl-welcome: "\e900";
$tsl-divide: "\e940";
$tsl-save-a-life: "\e941";
$tsl-lives-saved: "\e973";
$tsl-the-problem: "\e994";
$tsl-safety-rating: "\e99b";
$tsl-be-a-hero: "\e99e";
$tsl-the-numbers: "\e9b9";
$tsl-model-3: "\e9bd";
$tsl-how: "\ea09";
$tsl-the-light: "\ea5b";
$tsl-about: "\eae4";
$tsl-menu: "\e9bf";
